<div class="vehicle-list">
  <div class="page-header d-flex justify-between align-center">
    <h1>Vehicle Management</h1>
    <a routerLink="/vehicle/create" class="btn btn-primary">+ Add Vehicle</a>
  </div>

  <div class="card">
    <table *ngIf="vehicles.length > 0; else noVehicles">
      <thead>
        <tr>
          <th>Registration #</th>
          <th>Type</th>
          <th>Capacity (Tons)</th>
          <th>Owner</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{ vehicle.registrationNumber }}</td>
          <td>{{ vehicle.vehicleType }}</td>
          <td>{{ vehicle.capacity }}</td>
          <td>{{ vehicle.owner }}</td>
          <td><span class="badge" [ngClass]="getBadgeClass(vehicle.availabilityStatus)">{{ vehicle.availabilityStatus }}</span></td>
          <td>
            <a [routerLink]="['/vehicle', vehicle.id]" class="btn btn-secondary btn-sm">View</a>
            <button (click)="deleteVehicle(vehicle.id)" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noVehicles>
      <p class="text-center">No vehicles found. <a routerLink="/vehicle/create">Add one</a></p>
    </ng-template>
  </div>
</div>
